@font-face {
    font-family: 'Pacifico-Regular';
    src: url('../../assets/fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

.inicial{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #F5E8C7;
    color: #C19A6B;
    height: 85%;
}

.inicial h1{
    font-family: 'Pacifico-Regular';
    margin: 0;
    font-size: 380%;
}

.inicial p{
    font-family: 'OpenSans-Regular';
    margin: 0;
    font-size: 180%;
}